<?xml version="1.0" ?>
<world xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ocean_waves" params="gain:=0.1 period:=5
                     direction_x:=1.0 direction_y:=0.0
                     angle:=0.4 scale:=1.5">
  <model name='ocean_waves'>
    <static>true</static>
    <plugin name="wavefield_plugin" filename="libWavefieldModelPlugin.so">
      <static>false</static>
      <update_rate>30</update_rate>
      <size>1000 1000</size>
      <cell_count>50 50</cell_count>
      <wave>
				<model>PMS</model>
        <period>${period}</period>
        <number>3</number>
        <scale>${scale}</scale>
        <gain>${gain}</gain>
        <direction>${direction_x} ${direction_y}</direction>
        <angle>${angle}</angle>
        <tau>2.0</tau>
        <amplitude>0.0</amplitude>  <!-- No effect for the PMS model -->
        <steepness>0.0</steepness>
      </wave>
    </plugin>

    <link name="ocean_waves_link">
      <visual name="ocean_waves_visual">
        <plugin name="ocean_waves_visual_plugin" filename="libWavefieldVisualPlugin.so">
          <enableRtt>true</enableRtt>
          <rttNoise>0.1</rttNoise>
          <refractOpacity>0.2</refractOpacity>
          <reflectOpacity>0.2</reflectOpacity>
          <wave>
            <model>PMS</model>
            <period>${period}</period>
            <number>3</number>
            <scale>${scale}</scale>
            <gain>${gain}</gain>
            <direction>${direction_x} ${direction_y}</direction>
            <angle>${angle}</angle>
            <tau>2.0</tau>
            <amplitude>0.0</amplitude>  <!-- No effect for the PMS model -->
            <steepness>0.0</steepness>
          </wave>
        </plugin>
        <geometry>
          <mesh>
            <scale>${scale} ${scale} 1</scale>
            <uri>model://meshes/mesh.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <uri>model://materials/scripts/waves.material</uri>
            <name>WaveSim/GerstnerWaves</name>
          </script>
        </material>
        <laser_retro>-1</laser_retro>
      </visual>
      <visual name="ocean_waves_below_visual">
        <pose>0 0 -0.05 0 0 0</pose>  <!-- Offset to prevent rendering conflict -->
        <geometry>
          <mesh>
            <scale>${scale} ${scale} 1</scale>
            <uri>model://meshes/mesh_below.dae</uri>
          </mesh>
        </geometry>
        <material>
          <script>
            <uri>model://materials/scripts/waves.material</uri>
            <name>WaveSim/GerstnerWaves</name>
          </script>
        </material>
        <laser_retro>-1</laser_retro>
      </visual>
    </link>
  </model>
  </xacro:macro>
</world>
